{% extends 'layout.html' %}

{% block content %}
<table class="table table-striped">
  <tr>
    <th>Exponent</th>
    <th>Penultimate Step</th>
    <th>Power of Phi<br/>(form (a&radic;5 + b) / 2)</th>
    <th>Real Value</th>
    <th>Fibonacci Approx.<br/>(Real Value &divide; &radic;5)</th>
  </tr>
  {% for exponent, phi in data %}
  <tr>
    <td>{{ exponent }}</td>
    {% autoescape false %}
    <td>{{ phi.penult }}</td>
    <td>{{ phi.phi_num }}</td>
    {% endautoescape %}
    <td>{{ phi.real_value }}</td>
    <td>{{ phi.fib_approx }}</td>
  </tr>
  {% else %}
  <tr>
    <td colspan="4">Nothing to list</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
