    body { margin-top:20px; }
    h1 { text-shadow:1px 1px 2px gray; }
    .api-data td:first-child:not(:last-child) { font-family:courier new; }
    .header-image {
        height:100px;
        width:100px;
        border-radius:5px;
        box-shadow:2px 2px 5px black;
        float:right;
    } 
    .page-header {
        border:2px solid #9d261d;
        border-radius:5px;
        padding:20px;
    }
    th { background:#ccc; }
    .usage:before {
        content: 'Use: ';
        font-weight:bold;
    }
    .desc:before {
        content: 'Description: ';
        font-weight:bold;
    }
    div.examples {
        border-bottom:1px solid #3a87ad;
        margin-bottom:20px;
    }
    div.examples:last-child {
        border-bottom:none;
        margin-bottom:0;
    }

